*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

h1{
    font-size: 6rem;
    font-family: 'Passion One', cursive;
}

h2{
    font-size: 4rem;
    font-family: 'Passion One', cursive;
    font-weight: lighter;
}


header{
    background-image: url(../bilder/titelbild2.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    height: 300px;
}

header p{
    font-size: 5rem;
    font-family: 'Passion One', cursive;
    padding-top: 60px;
}


.navigation-liste{
    display: flex;
    justify-content: center;
}

.navigation-liste li{
    list-style: none;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.navigation-liste a{
    text-decoration: none;
    text-align: right;
    color: white;
    font-family: 'Passion One', cursive;
}

.navigation-abstand{
    padding: 0 2rem 0 2rem;
}

.navigation-liste a:hover{
    color: rgb(255, 00, 00);
}

#hier{
    color: rgb(255, 00, 00);
}

.formular{
    margin: 70px 25% 70px 25%;
}

.bestellformular-inhalt h2{
    padding-bottom: 20px;
}

.bestellformular-inhalt p{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.eingabefelder input{
    margin-bottom: 10px;
}

label{
    font-weight: bold;
}

input{
    border: 2px solid rgb(00, 00, 00);
    border-radius: 5px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

textarea{
    margin-top: 0.2rem;
    border: 2px solid rgb(00, 00, 00);
    border-radius: 5px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    width: 220px;
    height: 150px;
}

.multiplechoice label{
    font-weight: normal;
}

#pink-roses{
    margin-left: 50px;
}

#salted-peanuts{
    margin-left: 22px;
}

#crispy-chocolate{
    margin-left: 6px;
}

#coconut-milk{
    margin-left: 31px;
}


#anzahl{
    border:2px solid rgb(00, 00, 00);
    border-radius: 5px;
    margin-left: 10px;
}

#anrede{
    border:2px solid rgb(00, 00, 00);
    border-radius: 5px;
    margin-left: 10px;
}

#name, #vorname, #adresse, #postleitzahlundort, #mail, #telefon{
    height: 22px;
    width: 200px;
}

button{
color: white;
background-color:rgb(00, 00, 00);
border: none;
padding: 0.5rem 1rem 0.5rem 1rem;
border-radius: 5px;
margin-top: 1rem;
cursor: pointer;
}

button:hover{
    background-color: rgb(00, 00, 00);
}

.footerinhalt{
    color: white;
    background-color: rgb(00, 00, 00);
    height: 180px;
    display: flex;
    flex-direction: row;
    padding-right: 0;
}

.footer-adresse{
    padding: 2.4rem 0 0 4rem;
}

.footerinhalt li{
    list-style: none;
}

.pfeil-nach-oben{
    padding-left: 80%;
}

.pfeil-nach-oben-bild{
    padding-top: 4.8rem;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1680px){

    .pfeil-nach-oben{
        padding-left: 75%;
    }

}

@media screen and (max-width: 1358px){

    .pfeil-nach-oben{
        padding-left: 70%;
    }
}

@media screen and (max-width: 1070px){

    .pfeil-nach-oben{
        padding-left: 65%;
    }
}

@media screen and (max-width: 905px){

    .pfeil-nach-oben{
        padding-left: 60%;
    }

}

@media screen and (max-width: 760px){
    
    .pfeil-nach-oben{
        padding-left: 55%;
    }


    h1 {
        font-size: 4rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 3rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 3rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }
}

@media screen and (max-width: 666px){

    .pfeil-nach-oben{
        padding-left: 47%;
    }
}

@media screen and (max-width: 539px){

    .pfeil-nach-oben{
        padding-left: 35%;
    }

}

@media screen and (max-width: 440px){

    .pfeil-nach-oben{
        padding-left: 25%;
    }


    h1 {
        font-size: 3.5rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 2.5rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 2.5rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }

    
}

@media screen and (max-width: 380px){
    .footer-adresse{
        padding: 2.4rem 0 0 2rem;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 2rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 2rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }

}

@media screen and (max-width: 320px){

    .pfeil-nach-oben{
        padding-left: 12%;
    }
}

@media screen and (max-width: 319px){

    h1 {
        font-size: 2.7rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 1.7rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 1.7rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }
    
    .navigation-liste li{
        list-style: none;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

}

/* Game */

#score,
  .highscore {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
  }
  
  
  
  #game {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: auto;
  }
  
  
  #dino {
    height: 75px;
    width: 75px;
    top: 225px;
    position: relative;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/dino.png?raw=true");
    background-size: cover;
  }
  
  .dino-dies {
    background-color: red;
  }
  
  #rock {
    width: 50px;
    height: 50px;
    position: relative;
    top: 175px;
    left: 550px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/rock.png?raw=true");
    background-size: cover;
    animation: rock 1.33s infinite;
  }
  
  @keyframes rock {
    0% {
      left: 550px;
    }
  
    100% {
      left: -50px;
    }
  }
  
  .jump-animation {
    animation: jump 0.5s;
  }
  
  @keyframes jump {
    0% {
      top: 225px;
    }
  
    50% {
      top: 75px;
    }
  
    75% {
      top: 75px;
    }
  
    100% {
      top: 225px;
    }
  }
  
  
  
  #background {
    position: absolute;
    width: 600px;
    height: 300px;
    background-image: url("https://github.com/kriscfoster/chrome-dino-game/blob/master/background.jpg?raw=true");
    background-size: cover;
    animation: moveBg 10.33s linear infinite;
  }
  
  @keyframes moveBg {
    0% {
      background-position: 0 0;
    }
   
    100% {
      background-position:  -600px 0;
    }
  }
