
*{  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}

h1{
    font-size: 6rem;
    font-family: 'Passion One', cursive;
}

h2{
    font-size: 4rem;
    font-family: 'Passion One', cursive;
    font-weight: lighter;
}

header{
    background-image: url(../bilder/titelbild.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    height: 1000px;
}

header h1 {
    padding-top: 300px;
}

header p{
    font-size: 2rem;
    font-family: 'Passion One', cursive;
}


.navigation-liste{
    display: flex;
    justify-content: center;
}

.navigation-liste li{
    list-style: none;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.navigation-liste a{
    text-decoration: none;
    text-align: right;
    color: white;
    font-family: 'Passion One', cursive;
}

.navigation-liste a:hover{
    color: rgb(255, 00, 00);
}

#hier{
    color: rgb(255, 00, 00)
}

.navigation-abstand{
    padding: 0 2rem 0 2rem;
}

.bild-bestseller{
    width: 200px;
    height: 430px;
    padding: 50px 40px 0 40px;
}

.produktion{
    margin: 50px 25% 50% 25%;
}

.produktion h2{
    text-align: center;
    margin-top: 5rem;
    color: rgb(255, 00, 00)
}

.produktion p{
    text-align: justify;
}


.footerinhalt{
    color: white;
    background-color: rgb(00, 00, 00);
    height: 180px;
    display: flex;
    flex-direction: row;
    margin-top: -800px;
    padding-right: 0;
}

.footer-adresse{
    padding: 2.4rem 0 0 4rem;
}

.footerinhalt li{
    list-style: none;
}

/*Responsives Design*/

@media screen and (max-width: 1899px){

    header{
        background-image: url(../bilder/titelbild.jpg);
        color: white;
        text-align: center;
        background-size: cover;
        height: 800px;
    }

    .produktion{
        margin: 50px 20% 50% 20%;
    }

    header h1 {
        padding-top: 200px;
    }
}


@media screen and (max-width: 1680px){

    .footerinhalt{
        color: white;
        background-color: rgb(00, 00, 00);
        height: 180px;
        display: flex;
        flex-direction: row;
        margin-top: -600px;
        padding-right: 0;
    }

    .produktion{
        margin: 50px 15% 50% 15%;
    }
}

@media screen and (max-width: 1358px){
    .footerinhalt{
        color: white;
        background-color: rgb(00, 00, 00);
        height: 180px;
        display: flex;
        flex-direction: row;
        margin-top: -400px;
        padding-right: 0;
    }
}


@media screen and (max-width: 905px){

    .footerinhalt{
        color: white;
        background-color: rgb(00, 00, 00);
        height: 180px;
        display: flex;
        flex-direction: row;
        margin-top: -300px;
        padding-right: 0;
    }

    .bild-bestseller{
        width: 200px;
        height: 430px;
        padding: 50px 20px 0 20px;
    }
}

@media screen and (max-width: 760px){

    .footerinhalt{
        color: white;
        background-color: rgb(00, 00, 00);
        height: 180px;
        display: flex;
        flex-direction: row;
        margin-top: -200px;
        padding-right: 0;
    }

    .bild-bestseller{
        width: 200px;
        height: 430px;
        padding: 50px 40px 0 40px;
    }

    h1 {
        font-size: 4rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 3rem;
        font-family: 'Passion One', cursive;
    }

    .produktion{
        margin: 50px 10% 50% 10%;
    }

    h2{
        font-size: 3rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }
}

@media screen and (max-width: 539px){

    .bild-bestseller{
        width: 200px;
        height: 430px;
        padding: 50px 30px 0 30px;
    }

}

@media screen and (max-width: 440px){
    .produktion p{
        text-align: justify;
        font-size: smaller;
    }

    .bild-bestseller{
        width: 200px;
        height: 430px;
        padding: 50px 10px 0 10px;
    }

    .footerinhalt{
        color: white;
        background-color: rgb(00, 00, 00);
        height: 180px;
        display: flex;
        flex-direction: row;
        margin-top: -100px;
        padding-right: 0;
    }

    h1 {
        font-size: 3.5rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 2.5rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 2.5rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }

    header{
        background-image: url(../bilder/titelbild.jpg);
        color: white;
        text-align: center;
        background-size: cover;
        height: 823px;
    }

    header h1 {
        padding-top: 230px;
    }

    
}

@media screen and (max-width: 380px){
    .footer-adresse{
        padding: 2.4rem 0 0 2rem;
    }

    .bild-bestseller{
        width: 200px;
        height: 430px;
        padding: 50px 5px 0 5px;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 2rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 2rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }

    header{
        background-image: url(../bilder/titelbild.jpg);
        color: white;
        text-align: center;
        background-size: cover;
        height: 667px;
    }

    header h1 {
        padding-top: 190px;
    }
}

@media screen and (max-width: 320px){
    header{
        background-image: url(../bilder/titelbild.jpg);
        color: white;
        text-align: center;
        background-size: cover;
        height: 568px;
    }

    header h1 {
        padding-top: 150px;
    }
}

@media screen and (max-width: 319px){

    .bild-bestseller{
        width: 200px;
        height: 430px;
        padding: 20px 10px 0 10px;
    }

    h1 {
        font-size: 2.7rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 1.7rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 1.7rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }
    
    .navigation-liste li{
        list-style: none;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

    header{
        background-image: url(../bilder/titelbild2.jpg);
        color: white;
        text-align: center;
        background-size: cover;
        height: 653px;
    }

    header h1 {
        padding-top: 200px;
    }
}

/* Formular */
h1{
    font-size: 6rem;
    font-family: 'Passion One', cursive;
}

h2{
    font-size: 4rem;
    font-family: 'Passion One', cursive;
    font-weight: lighter;
}


header{
    background-image: url(../bilder/titelbild2.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    height: 300px;
}

header p{
    font-size: 5rem;
    font-family: 'Passion One', cursive;
    padding-top: 60px;
}


.navigation-liste{
    display: flex;
    justify-content: center;
}

.navigation-liste li{
    list-style: none;
    margin-top: 2rem;
    font-size: 1.5rem;
}

.navigation-liste a{
    text-decoration: none;
    text-align: right;
    color: white;
    font-family: 'Passion One', cursive;
}

.navigation-abstand{
    padding: 0 2rem 0 2rem;
}

.navigation-liste a:hover{
    color: rgb(255, 00, 00);
}

#hier{
    color: rgb(255, 00, 00);
}

.formular{
    margin: 70px 25% 70px 25%;
}

.bestellformular-inhalt h2{
    padding-bottom: 20px;
}

.bestellformular-inhalt p{
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.eingabefelder input{
    margin-bottom: 10px;
}

label{
    font-weight: bold;
}

input{
    border: 2px solid rgb(00, 00, 00);
    border-radius: 5px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

textarea{
    margin-top: 0.2rem;
    border: 2px solid rgb(00, 00, 00);
    border-radius: 5px;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    width: 220px;
    height: 150px;
}

.multiplechoice label{
    font-weight: normal;
}

#pink-roses{
    margin-left: 50px;
}

#salted-peanuts{
    margin-left: 22px;
}

#crispy-chocolate{
    margin-left: 6px;
}

#coconut-milk{
    margin-left: 31px;
}


#anzahl{
    border:2px solid rgb(00, 00, 00);
    border-radius: 5px;
    margin-left: 10px;
}

#anrede{
    border:2px solid rgb(00, 00, 00);
    border-radius: 5px;
    margin-left: 10px;
}

#name, #vorname, #adresse, #postleitzahlundort, #mail, #telefon{
    height: 22px;
    width: 200px;
}

button{
color: white;
background-color:rgb(00, 00, 00);
border: none;
padding: 0.5rem 1rem 0.5rem 1rem;
border-radius: 5px;
margin-top: 1rem;
cursor: pointer;
}

button:hover{
    background-color: rgb(00, 00, 00);
}

.footerinhalt{
    color: white;
    background-color: rgb(00, 00, 00);
    height: 180px;
    display: flex;
    flex-direction: row;
    padding-right: 0;
}

.footer-adresse{
    padding: 2.4rem 0 0 4rem;
}

.footerinhalt li{
    list-style: none;
}

.pfeil-nach-oben{
    padding-left: 80%;
}

.pfeil-nach-oben-bild{
    padding-top: 4.8rem;
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 1680px){

    .pfeil-nach-oben{
        padding-left: 75%;
    }

}

@media screen and (max-width: 1358px){

    .pfeil-nach-oben{
        padding-left: 70%;
    }
}

@media screen and (max-width: 1070px){

    .pfeil-nach-oben{
        padding-left: 65%;
    }
}

@media screen and (max-width: 905px){

    .pfeil-nach-oben{
        padding-left: 60%;
    }

}

@media screen and (max-width: 760px){
    
    .pfeil-nach-oben{
        padding-left: 55%;
    }


    h1 {
        font-size: 4rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 3rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 3rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }
}

@media screen and (max-width: 666px){

    .pfeil-nach-oben{
        padding-left: 47%;
    }
}

@media screen and (max-width: 539px){

    .pfeil-nach-oben{
        padding-left: 35%;
    }

}

@media screen and (max-width: 440px){

    .pfeil-nach-oben{
        padding-left: 25%;
    }


    h1 {
        font-size: 3.5rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 2.5rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 2.5rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }

    
}

@media screen and (max-width: 380px){
    .footer-adresse{
        padding: 2.4rem 0 0 2rem;
    }

    h1 {
        font-size: 3rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 2rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 2rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }

}

@media screen and (max-width: 320px){

    .pfeil-nach-oben{
        padding-left: 12%;
    }
}

@media screen and (max-width: 319px){

    h1 {
        font-size: 2.7rem;
        font-family: 'Passion One', cursive;
    }
    
    header p{
        font-size: 1.7rem;
        font-family: 'Passion One', cursive;
    }

    h2{
        font-size: 1.7rem;
        font-family: 'Passion One', cursive;
        font-weight: lighter;
    }
    
    .navigation-liste li{
        list-style: none;
        margin-top: 2rem;
        font-size: 1.2rem;
    }

}
